@media screen and (min-width: 768px) and (max-width: 991px) {
    /*********************** TAMANHO *********************/

    	.col-tb-12 {
    		width: 100%;
    	}
    	.col-tb-11 {
    		width: 91.66666667%;
    	}
    	.col-tb-10 {
    		width: 83.33333333%;
    	}
    	.col-tb-9 {
    		width: 75%;
    	}
    	.col-tb-8 {
    		width: 66.66666667%;
    	}
    	.col-tb-7 {
    		width: 58.33333333%;
    	}
    	.col-tb-6 {
    		width: 50%;
    	}
    	.col-tb-5 {
    		width: 41.66666667%;
    	}
    	.col-tb-4 {
    		width: 33.33333333%;
    	}
    	.col-tb-3 {
    		width: 25%;
    	}
    	.col-tb-2 {
    		width: 16.66666667%;
    	}
    	.col-tb-1 {
    		width: 8.33333333%;
    	}
    	.col-tb-05 {
    		width: 4%;
    	}


    	.space-tb-12 {
    		margin-left: 100%;
    	}
    	.space-tb-11 {
    		margin-left: 91.66666667%;
    	}
    	.space-tb-10 {
    		margin-left: 83.33333333%;
    	}
    	.space-tb-9 {
    		margin-left: 75%;
    	}
    	.space-tb-8 {
    		margin-left: 66.66666667%;
    	}
    	.space-tb-7 {
    		margin-left: 58.33333333%;
    	}
    	.space-tb-6 {
    		margin-left: 50%;
    	}
    	.space-tb-5 {
    		margin-left: 41.66666667%;
    	}
    	.space-tb-4 {
    		margin-left: 33.33333333%;
    	}
    	.space-tb-3 {
    		margin-left: 25%;
    	}
    	.space-tb-2 {
    		margin-left: 16.66666667%;
    	}
    	.space-tb-1 {
    		margin-left: 8.33333333%;
    	}
    	.space-tb-05 {
    		margin-left: 4%;
    	}
    	.space-tb-0 {
    		margin-left: auto;
    	}

    /*********************** FIM TAMAMNHO *********************/

        .col-tb-pull-12 {
            right: 100%;
        }
        .col-tb-pull-11 {
            right: 91.66666667%;
        }
        .col-tb-pull-10 {
            right: 83.33333333%;
        }
        .col-tb-pull-9 {
            right: 75%;
        }
        .col-tb-pull-8 {
            right: 66.66666667%;
        }
        .col-tb-pull-7 {
            right: 58.33333333%;
        }
        .col-tb-pull-6 {
            right: 50%;
        }
        .col-tb-pull-5 {
            right: 41.66666667%;
        }
        .col-tb-pull-4 {
            right: 33.33333333%;
        }
        .col-tb-pull-3 {
            right: 25%;
        }
        .col-tb-pull-2 {
            right: 16.66666667%;
        }
        .col-tb-pull-1 {
            right: 8.33333333%;
        }
        .col-tb-pull-05 {
            right: 4%;
        }

        .col-tb-push-12 {
            left: 100%;
        }
        .col-tb-push-11 {
            left: 91.66666667%;
        }
        .col-tb-push-10 {
            left: 83.33333333%;
        }
        .col-tb-push-9 {
            left: 75%;
        }
        .col-tb-push-8 {
            left: 66.66666667%;
        }
        .col-tb-push-7 {
            left: 58.33333333%;
        }
        .col-tb-push-6 {
            left: 50%;
        }
        .col-tb-push-5 {
            left: 41.66666667%;
        }
        .col-tb-push-4 {
            left: 33.33333333%;
        }
        .col-tb-push-3 {
            left: 25%;
        }
        .col-tb-push-2 {
            left: 16.66666667%;
        }
        .col-tb-push-1 {
            left: 8.33333333%;
        }
        .col-tb-push-05 {
            left: 4%;
        }



}

@media screen and (max-width: 991px) {
    .side-nav {display: none;}

    .section-class .info-block{
        padding:15px;
    }

    .data-class{
		float:left;
	}
        .date-class{
            display:block;
        }
            .date-class div{
                display:inline-block;
                font-size: .8em;
                float:left;
                padding: 10px 10px;
                text-align: center;
                border-bottom: 2px solid #fff;
            }
            .date-class div:hover{
                border-bottom:2px solid #5392d8;
            }

    .slider{
        display:none;
    }

    .favorites{
		float:left;
	}

	.content-favorites{
		overflow: hidden;
	}
    

    .block-events .content-block{
        overflow: hidden;
    }

		.rel-events .block{
			box-shadow: none;
			float: left;
			padding:0;
		}
		.rel-events .block .title-block{
			height: 60px;
			display:block;
		}
        .rel-events .block .title-block-bg1{
            height: 120px;
        }
            .rel-events .block .title-block .bg-alpha{
                background: rgba(0,0,0,.6);
                background-size:100% 100%;
                display:block;
                height:100%;
                left:0;
                position:absolute;
            }
    		.rel-events .block .title-block:hover .bg-alpha{
    			display:none;
    		}
		.rel-events .content-block{
			display:none;
		}


    div.info-data{
        display:inline-block;
        float:left;
    }

}
